<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="styles.css">
  <title>Mars Missions</title>
</head>

<body>
  <h1>Mars Missions</h1>
  <%for (let i=0; i<missions.length;i++) {%>
    <ul>
      <li>
        <a href="/marsMission/<%=i%>">
          <%=missions[i].name%>
        </a>
      </li>
    </ul>
    <%}%>


</body>

</html>