<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Mars Missions</title>
</head>

<body>
  <h1>Mars Missions</h1>
  <%for (i=0; i<missions.length;i++) {%>
    <ul>
      <li>
        <%=missions[i].name%>
      </li>
    </ul>
    <%}%>


</body>

</html>